@model List<MyPortfolioUdemy.DAL.Entities.Skill>

<div class="col-six tab-full right">
    <h3>Programlama Dilleri & Teknolojileri</h3>

    <ul class="skill-bars">
        @foreach (var item in Model)
        {
            <li>
                <div class="progress percent100 "><span>@item.Value%</span></div>
                <strong>@item.Title</strong>
            </li>
        }

    </ul>
</div>