<header class="s-header">

    <div class="header-logo" style="color:white; font-size:25px;">
        MİA YAZILIM
        @* <a class="site-logo" href="index.html"><img src="~/hola-master/images/logo.png" alt="Homepage"></a> *@
    </div>

    <nav class="header-nav-wrap">
        <ul class="header-nav">
            <li class="current"><a class="smoothscroll" href="#home" title="home">Anasayfa</a></li>
            <li><a class="smoothscroll" href="#about" title="about">Hakkımda</a></li>
            <li><a class="smoothscroll" href="#works" title="works">Projelerim</a></li>
            <li><a class="smoothscroll" href="#testimonials" title="testimonials">Referanslarım</a></li>
            <li><a class="smoothscroll" href="#contact" title="contact">İletişim</a></li>
        </ul>
    </nav>

    <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

</header>